# Игнорировать файлы для IDE
.vscode/
*.code-workspace
.idea/
*.iml

# Игнорировать файлы для виртуального окружения
.venv/
venv/
*.pyc

# Игнорировать конфиденциальные файлы
.env

# Игнорировать библиотеку .coverage
.coverage